body {
    display: flex;
    background: #eee;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

aside {
  width: .4rem;
  height: 3rem;
  background: red;
  border-radius: 99rem;
  
  /* Fortsätt */

}

/* Skapa din animation här */
@keyframes spinner {


}
